$font-size-base: 18px
$font-size-small: 15px
$font-size-big: 22px
$font-size-logo: 30px

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$font-family-code: Consolas, "Liberation Mono", Menlo, Courier, monospace

$link-color: black
$font-color: #333
$font-color-light: lighten($font-color, 40%)
$border-color: lighten($font-color, 70%)

$bold: 600

$grid-gutter-width: 30px
$grid-gutter-half: (( $grid-gutter-width / 2 ))

$screen-xs-max: 767px

@import 'reset-css/reset'

=mq-sm-up
  @media screen and (min-width: #{$screen-xs-max + 1})
    @content

=mq-xs
  @media screen and (max-width: #{$screen-xs-max})
    @content

=f-semi-bold
  font-weight: 600
  font-weight: 500

=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

html
  overflow-y: scroll
  min-width: 320px

body
  font-size: $font-size-base
  line-height: 1.5
  font-family: $font-family
  min-width: 320px
  color: $font-color

code
  font-family: $font-family-code

a
  color: $link-color
  text-decoration: none
  border-bottom: 1px dotted black

  &:hover
    border-bottom-color: transparent

  .m-page-header &, figure &
    border-bottom: 0

.m-container
  margin: 0 auto
  padding: 0 $grid-gutter-half
  max-width: 930px

@import 'modules/article-perex'
@import 'modules/page-header'
@import 'modules/page-footer'
@import 'modules/tags'
@import 'modules/article-content'
@import 'modules/fork-on-github'
@import 'modules/disqus'
@import 'modules/fork-gist'
