//= require slick-carousel/slick/slick
//= require slick-lightbox/dist/slick-lightbox

$gray-dark: #333
$gray-light: #999
$text-color: $gray-dark
$link-color: $text-color
$input-color-placeholder: $gray-light
$font-size-h1: 30px
$font-size-h2: 20px
$headings-line-height: 1.2
$border-radius-base: 0
$grid-gutter-width: 30px
$container-desktop: 900px + $grid-gutter-width
$container-large-desktop: $container-desktop

@import 'bootstrap-custom'
@import 'code-highlight'
@import '../../bower_components/mreq-mixins/mreq'

=article-page
  body.m-article-page &
    @content

html
  overflow-y: scroll

html, body, .container
  min-width: 320px

pre
  margin: 0 0 $bl/2
  padding: $grid-gutter-half
  &.highlight.perl
    code
      > *, &
        color: #333
      &:before
        content: 'user$host:~$ '
        color: #777

code[data-gist-id]
  padding: 0
  background: transparent

.m-site-name
  display: block
  font-weight: bold
  font-size: 28px
  margin: 0
  > a
    text-decoration: none
  small
    font-weight: normal
    font-size: 14px
    line-height: 35px
    &, a
      color: $gray-light
  +mq-xs
    text-align: center
    padding-bottom: 5px

.m-articles-link
  text-align: right
  padding-top: 5px
  a
    color: $gray-light

.m-article-tags
  margin-bottom: 0
  li
    list-style: none
    display: inline-block
    &:after
      content: ', '
      display: inline-block
    &:first-child, &:last-child
      &:after
        display: none
  +mq-sm-up
    text-align: right

.m-article-meta
  margin-bottom: 7px
  &, a
    color: $gray-light
  +article-page
    margin-bottom: $grid-gutter-half

.m-article-heading
  margin: $grid-gutter-width 0 7px
  +article-page
    margin-top: 0
    margin-bottom: 10px

.m-article
  margin-bottom: $grid-gutter-width
  +article-page
    a
      > img
        display: inline-block
        margin: $bl/2 $bl/2 $bl/2 0

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item .slick-lightbox-slick-item-inner .slick-lightbox-slick-caption
  color: $text-color

#m-header
  padding: $grid-gutter-half 0 0
  margin-bottom: $grid-gutter-width
  line-height: 35px
  +article-page
    margin-bottom: 5px

#m-search
  padding: 4px 0 0
  +mq-sm
    padding-left: $grid-gutter-half
    padding-right: $grid-gutter-half

#m-search-input
  width: 100%
  border: 1px solid lighten($gray-light, 20%)
  padding: 0 10px
  margin: -1px
  background: white
  text-align: center
  &:focus
    outline: none
    +box-shadow(0 0 5px lighten($gray-light, 15%))

#m-footer
  padding: $grid-gutter-half 0
  border-top: 1px dashed $gray-light
  &, a
    color: $gray-light
  ul
    +ul
    float: right
    li
      float: left
      margin-left: $grid-gutter-half

#m-fork-on-github
  margin-bottom: $grid-gutter-width
  text-align: center
  a
    color: $gray-light

#disqus_thread
  margin-bottom: $grid-gutter-half
