		<footer id="m-footer" class="row">
			<div class="col-md-10">
				<ul>
					<li>&copy; mreq.eu</li>
					<li id="m-portfolio-link">
						<a href="http://petrmarek.eu" target="_blank">my portfolio</a>
					</li>
				</ul>
			</div>			
		</footer>
	</div> <!-- end #m-container -->
<%= javascript_include_tag 'mreq-blog' %>
</body>
</html>