---
show_search: true
---
<div class="m-article-list">
	<h1 class="m-article-tag-name">Articles tagged <strong><%= tagname %></strong>:</h1>
  <% for article in page_articles %>
    <article>
      <%= partial '_article-header', :locals => { :article => article, :link_title => true, :heading => 'h2' } %>
      <div class="m-summary">
        <%= article.summary %>
      </div>
    </article>
  <% end %>
</div>