.m-article-perex
  margin: 0 0 50px

  h2
    font-weight: 600
    margin: 0 0 10px

.m-article-meta
  font-size: 75%
  color: $font-color-light
  display: flex
  justify-content: space-between
  margin: 0 0 10px
