.m-article-perex
  margin: 0

  h1, h2
    +f-semi-bold
    font-size: $font-size-big
    margin: 0 0 10px

  p, + .m-article-content p:first-child
    &:after
      content: ''
      display: block
      text-align: center
      margin: 25px 0
      height: 0
      border-bottom: 1px dotted $border-color

  &.m-hidden
    display: none

.m-article-link
  display: inline-block
  border-bottom: 0

  &:visited
    &, ~ *
      visibility: hidden

.m-article-meta
  font-size: $font-size-small
  display: flex
  justify-content: space-between
  margin: 0 0 13px

  &, a
    color: $font-color-light

+mq-xs
  .m-article-date
    span
      display: none
