.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background-image: asset-url('photoswipe/dist/default-skin/default-skin.png');
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: asset-url('photoswipe/dist/default-skin/default-skin.svg'); }
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none !important;
}
